.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
  background-color: orange;
  padding: 10px;
  height: 500px;
  width: 310px;
  position: relative;
  top: 20px;
  left: 500px;
  border-radius: 15px;
}
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(57, 57, 78, 0.308);
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
    .item0 {
      grid-column: 1 / span 3;
      text-align: right;
    }
    .item14 {
      grid-column: 2 / span 2;
    }
     input {
      text-align: right;
      height: 40px;
      font-size: 30px;
    }